/*!
 * aFox (http://afox.kr)
 * Copyright 2016 afox, Inc.
 */

.modal.vertical-center {
	text-align: center;
	padding: 0!important;
}

.modal.vertical-center:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal.vertical-center .modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.switch-group,
.radio-control>.radio {
	display: inline-block;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	overflow: hidden;
	white-space: nowrap;
	width: 200px;
}

.switch-control>.switch,
.radio-control>.radio {
	padding: 5px 10px;
	display: inline-block;
	vertical-align: middle;
	width: 100px;
}

.switch.switch-label {
	border: 0;
	width: 90px;
}

.switch-group>.switch-control {
	display: inline-block;
	position: relative;
	left: -100px;
}

.switch-group.on>.switch-control {
	left: 0px;
}

.switch.switch-handle-on {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.switch.switch-handle-off {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.switch-group input[type='checkbox'] {
	position: absolute !important;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	z-index: -1;
}

.switch-group:focus,
.radio-control>.radio:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.switch-xs>.switch,
.radio-xs>.radio {
	font-size: 12px;
	line-height: 1.2;
}

.radio-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;
}

.radio-group-justified>.radio-control>.radio {
	display: table-cell;
	float: none;
	width: 1%;
}

.radio-control>.radio.active {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.fileupload-group .btn-file {
	position: relative;
	white-space: nowrap;
	display: table-cell;
	padding: 6px 16px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	vertical-align: middle;
	width: 1%;
}

.fileupload-group .btn-file>.glyphicon:before {
	margin-right: 10px;
}

.fileupload-group .btn-file>input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	opacity: 0;
	background: none repeat scroll 0 0 transparent;
	cursor: inherit;
	display: block;
}

.fileupload-group .file-caption {
	display: inline-block;
	overflow: hidden;
	word-break: break-all;
	color: #aaa;
	height: 34px;
}

.fileupload-group+.fileupload-group {
	margin-top: 10px;
}

.fileupload-group .file-item {
	position: relative;
	top: 0;
	left: -5px;
	width: 100%;
	height: 100%;
	margin: 0 0;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	padding: 0;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fileupload-group .file-item:before {
	font-family: 'Glyphicons Halflings';
	font-size: 16px;
	content: "\e022";
	padding-right: 5px;
	vertical-align: middle;
}

.fileupload-group .file-item[data-type^=image]:before {
	content: "\e060";
}

.fileupload-group .file-item[data-type^=video]:before {
	content: "\e009";
}

.fileupload-group .file-item[data-type^=audio]:before {
	content: "\e002";
}

.fileupload-group.file-list .file-item:before {
	padding-right: 0;
}

.fileupload-group.file-list .file-item:hover {
	border: 1px solid #ccc;
}

.fileupload-group.file-list .file-item {
	margin: 0;
	padding: 3px;
	width: 24px;
	height: 22px;
}

.fileupload-group.file-list .file-item+.file-item {
	margin-left: 3px;
}


/* IE 10 fix */

.btn-file::-ms-browse {
	width: 100%;
	height: 100%;
}

.alert.alert-box {
	width: 500px;
	margin: auto;
}

.af_waiting_message {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 99999;
}

.af_waiting_message .progress {
	margin: 10px 0 0;
}

.text-ellipsis {
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
}

.min-width-50 {
	min-width: 50px;
}

.min-width-100 {
	min-width: 100px;
}

.min-width-150 {
	min-width: 150px;
}

.min-width-200 {
	min-width: 200px;
}

.min-width-250 {
	min-width: 250px;
}

.min-width-300 {
	min-width: 300px;
}

.min-height-50 {
	min-height: 50px;
}

.min-height-100 {
	min-height: 100px;
}

.min-height-150 {
	min-height: 150px;
}

.min-height-200 {
	min-height: 200px;
}

.min-height-250 {
	min-height: 250px;
}

.min-height-300 {
	min-height: 300px;
}

.noresize {
	resize: none;
}

.vresize {
	resize: vertical;
}

.hresize {
	resize: horizontal;
}

.fa.fa-1,
.fa.fa-2,
.fa.fa-3,
.fa.fa-4,
.fa.fa-5,
.fa.fa-6 {
	margin-right: .07142857em;
}

.fa.fa-2 {
	font-size: 2em;
}

.fa.fa-3 {
	font-size: 4em;
}

.fa.fa-4 {
	font-size: 7em;
}

.fa.fa-5 {
	font-size: 12em;
}

.fa.fa-6 {
	font-size: 20em;
}


/* ========================================================================
* http://bootsnipp.com/
* ======================================================================== */

.gly-rotate-90 {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=1);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.gly-rotate-180 {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.gly-rotate-270 {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.gly-flip-horizontal {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.gly-flip-vertical {
	filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
	-webkit-transform: scale(1, -1);
	-moz-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1);
}

.gly-fast-right-spin {
	-webkit-animation: gly-spin-r 1s infinite linear;
	animation: gly-spin-r 1s infinite linear;
}

.gly-normal-right-spin {
	-webkit-animation: gly-spin-r 2s infinite linear;
	animation: gly-spin-r 2s infinite linear;
}

.gly-slow-right-spin {
	-webkit-animation: gly-spin-r 3s infinite linear;
	animation: gly-spin-r 3s infinite linear;
}

.gly-fast-left-spin {
	-webkit-animation: gly-spin-l 1s infinite linear;
	animation: gly-spin-l 1s infinite linear;
}

.gly-normal-left-spin {
	-webkit-animation: gly-spin-l 2s infinite linear;
	animation: gly-spin-l 2s infinite linear;
}

.gly-slow-left-spin {
	-webkit-animation: gly-spin-l 3s infinite linear;
	animation: gly-spin-l 3s infinite linear;
}

@-webkit-keyframes gly-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@keyframes gly-spin-r {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
}

@-webkit-keyframes gly-spin-l {
	0% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes gly-spin-l {
	0% {
		-webkit-transform: rotate(359deg);
		transform: rotate(359deg);
	}
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}