.bi {
  vertical-align: -.125em;
  fill: currentColor;
  width: 1em;
  height: 1em;
}

.bi-lg {
  width: 2em;
  height: 2em;
}

[type="radio"]+label,
[type="checkbox"]+label {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  user-select: none!important;
}

pre {
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 1.42857143;
	border-radius: 4px;
	border: 1px solid var(--bs-border-color);
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
}

blockquote {
	padding: 10px 20px;
	margin: 0 0 20px;
	font-size: 17.5px;
	border: 0;
	border-left: 5px solid var(--bs-border-color);
}

code {
	padding: 0 2px;
	font-size: 80%;
	border-radius: 4px;
	background-color: var(--bs-light);
}

pre code {
	padding: 0!important;
	font-size: inherit!important;
	color: inherit!important;
	white-space: pre-wrap!important;
	background-color: transparent!important;
	border-radius: 0!important;
}

.icon-link-hover {
  --bs-icon-link-transform: translate3d(0, -.125rem, 0);
}

.carousel-caption {
  color: var(--bs-gray-200)!important;
}

#pageNavigation span {
  border-right: 0;
  border-radius: 0!important;
  padding: 0!important;
  overflow: hidden;
}

#pageNavigation span a{
  border-radius: 0!important;
}

#pageNavigation span:first-of-type {
  border-top-left-radius: var(--bs-border-radius-pill)!important;
  border-bottom-left-radius: var(--bs-border-radius-pill)!important;
}

#pageNavigation span:last-of-type {
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-top-right-radius: var(--bs-border-radius-pill)!important;
  border-bottom-right-radius: var(--bs-border-radius-pill)!important;
}

@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
  .navbar-expand-md .navbar-collapse {
    display: block !important;

  }
  .navbar-expand-md .navbar-nav {
    float: right;
  }
}