@import url('https://fonts.googleapis.com/css?family=Gugi:400');

:root{
	--bd-violet-bg: #712cf9;
}

[type="radio"]+label,
[type="checkbox"]+label {
	-webkit-user-select: none!important;
	-moz-user-select: none!important;
	user-select: none!important;
}

h1, h2, h3, h4, h5, h6,
.font-gugi	{
	font-family: Gugi;
	letter-spacing: 1px;
}

.bi {
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.bi-lg {
	width: 2em;
	height: 2em;
}

.header-logo {
	font-size: 2.4rem;
}

.icon-link-hover {
	--bs-icon-link-transform: translate3d(0, -.125rem, 0);
}

.current_content {
	overflow: hidden;
}

.current_content pre {
	padding: 9.5px;
	margin: 0 0 10px;
	line-height: 1.42857143;
	border-radius: 4px;
	border: 1px solid var(--bs-border-color);
	overflow: auto;
	word-break: break-all;
	word-wrap: break-word;
	background-color: var(--bs-tertiary-bg);
}

.current_content blockquote {
	padding: 10px 0 10px 20px;
	font-size: 17.5px;
	border: 0;
	border-left: 5px solid var(--bs-border-color);
}

.current_content code {
	padding: 0 2px;
	font-size: 85%;
	border-radius: 3px;
	background-color: var(--bs-light);
}

.current_content pre code {
	background-color: transparent!important;
}

.current_content img {
	max-width: 100%;
}

.current_content table:not([class=hljs-ln]){
	width: 100%;
}

.current_content table:not([class=hljs-ln]) th,
.current_content table:not([class=hljs-ln]) td{
	padding: .5em;
	border: 1px solid var(--bs-border-color);
	background-color: var(--bs-tertiary-bg);
}

.mode-toggle {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	padding: 20px;
	background: var(--bd-violet-bg);
	border-radius: 100%;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.281);
	cursor: pointer;
	z-index: 2;
}

.mode-toggle::before {
	content: "";
	width: 29px;
	height: 29px;
	left: 6px;
	top: 7px;
	position: absolute;
	transition: 0.2s ease;
	background: no-repeat center url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5'/%3E%3C/svg%3E");
}

.mode-toggle.open {
	opacity: 0.9;
}

.mode-toggle.open .button {
	opacity: 1;
	pointer-events: auto;
}

.mode-toggle.open .button:first-of-type {
	bottom: 0;
	right: calc(1rem + 40px);
}

.mode-toggle.open .button:nth-of-type(2) {
	bottom: calc(1rem + 24px);
	right: 40px;
	transition-delay: 0.05s;
}

.mode-toggle.open .button:last-of-type {
	bottom: calc(1rem + 40px);
	right: 0;
	transition-delay: 0.1s;
}

.mode-toggle .button {
	padding: 15px;
	border-radius: 50%;
	cursor: pointer;
	background: var(--bd-violet-bg);
	position: absolute;
	bottom: 0;
	right: 0;
	opacity: 0;
	pointer-events: none;
	box-shadow: inherit;
	transition: 0.2s cubic-bezier(0.18, 0.89, 0.32, 1.28), 0.2s ease opacity, 0.2s cubic-bezier(0.08, 0.82, 0.17, 1) transform;
	z-index: -1;
}

.mode-toggle .button:hover {
	transform: scale(1.1);
}

.mode-toggle .button:nth-of-type(2) {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6'/%3E%3C/svg%3E") no-repeat 50%/50% var(--bd-violet-bg);
}

.mode-toggle .button:last-of-type {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M7.27 1.047a1 1 0 0 1 1.46 0l6.345 6.77c.6.638.146 1.683-.73 1.683H11.5v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-1H1.654C.78 9.5.326 8.455.924 7.816zM4.5 13.5a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1z'/%3E%3C/svg%3E") no-repeat 50%/50% var(--bd-violet-bg);
}

.button[data-bs-theme-value=light] {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0m9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708'/%3E%3C/svg%3E") no-repeat 50%/50% var(--bd-violet-bg);
}

.button[data-bs-theme-value=dark] {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 16 16'%3E%3Cpath d='M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z'/%3E%3Cpath d='M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z'/%3E%3C/svg%3E") no-repeat 50%/50% var(--bd-violet-bg);
}

#searchList+form,
#searchExList+form {
	display: none;
	position: absolute;
	top: .33rem;
	max-width: 200px;
	background-color:var(--bs-body-bg);
}

#searchExList+form {
	top: .58rem;
	margin-left: 40px;
	max-width: initial;
	width: calc(100% - 40px);
	z-index: 1;
}

#searchList:checked ~ form,
#searchExList:checked ~ form {
	display: block;
}

#calling_server,
#afoxPageLoading {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 9900;
	background: url(img/pre_loader.gif) center no-repeat #2b2b2b!important;
}

#calling_server {
	width: auto;
	height: auto;
	margin: 1rem;
	padding: 10px 50px;
	z-index: 9800;
	background-size: 130%!important;
}
/*
#calling_server::before {
	content: '';
	position: fixed;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
*/
@media (min-width: 768px) {
	.h-md-250 { min-height: 250px; }
	.navbar-expand-md .navbar-nav { text-align: right; }
	.navbar-expand-md .navbar-nav a { display: inline-block; }
	.navbar-expand-md .navbar-collapse { display: block !important; }
	#searchExList+form { top: .77rem; }
}