@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
:root {
  --offcanvas-width: 220px;
  --topNavbarHeight: 56px;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
  width: 1em;
  height: 1em;
}
.w-100p {
  width: 100px!important;
}
.mw-100p {
  max-width: 100px!important;
}
.mw-150p {
  max-width: 150px!important;
}
.btn-xs {
  --bs-btn-padding-y: .1rem;
  --bs-btn-padding-x: .3rem;
  --bs-btn-font-size: .8rem;
}
.text-muted {
  color: var(--bs-gray)!important;
}
.fixed-width {
  font-family: "Consolas", monospace;
  letter-spacing: 2px;
}
.btn-outline-control {
  border-color:var(--bs-border-color);
}
body,
button {
  font-family: "Inter", sans-serif;
}
[type="radio"]+label,
[type="checkbox"]+label {
  -webkit-user-select: none!important;
  -moz-user-select: none!important;
  user-select: none!important;
}
.table tr >:not(.text-wrap) {
  text-wrap: nowrap;
  width: 1px;
}
.navbar-divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid var(--bs-gray)!important;
}
.sidebar-nav {
  width: var(--offcanvas-width);
  height: calc(100% - var(--topNavbarHeight));
  top: var(--topNavbarHeight);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
.form-file-group {
  position: relative;
}
.form-file-group div:last-of-type {
  position: absolute;
  padding: 2px;
  bottom: 3px;
  left: 108px;
  width: calc(100% - 124px);
  color: var(--bs-gray);
  background-color: var(--bs-white);
}
.form-file-group [type=file]::file-selector-button {
  width: 100px !important;
  color: transparent;
}
.form-file-group [type=file]::before {
  position: absolute;
  left: 10px;
}
.form-file-group [type=checkbox]{
  display: none;
}
.form-file-group label{
  text-decoration-line: none;
  cursor: pointer;
  width: 100%;
}
.form-file-group label::before {
  content: url('./img/file-earmark.svg');
  vertical-align:text-top;
  padding-right: 5px;
  filter:invert(50%);
  -webkit-filter:invert(50%);
}
.form-file-group label.file-type-image::before {
  content: url('./img/file-earmark-image.svg');
}/*
.form-file-group input:checked ~ label::before {
  content: url('./img/file-earmark-x.svg');
} */
.form-file-group input:checked ~ label {
  display: none;
  /* text-decoration-line: line-through; */
}
.advanced_setup{
  display: none;
}
#advanced_setup:checked ~ .advanced_setup{
  display: block;
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
  }
}
