/*
 * sitemap.css
 * @author phiDel (is4975@gmail.com)
 */
#siteMap form{margin:0}
#siteMap ul{position:relative!important;margin:0;padding:0;list-style:none;-webkit-user-select:none!important;-moz-user-select:none!important;user-select:none!important}
#siteMap li li .indent{padding-left:18px}
#siteMap li li li .indent{padding-left:36px}
#siteMap li li li li .indent{padding-left:54px}
#siteMap li li li li li .indent{padding-left:72px}
#siteMap li li li li li li .indent{padding-left:90px}
#siteMap li li li li li li li .indent{padding-left:108px}
#siteMap li li li li li li li li .indent{padding-left:126px}
#siteMap li li li li li li li li li .indent{padding-left:144px}
#siteMap li li li li li li li li li li .indent{padding-left:162px}
#siteMap li li li li li li li li li li li .indent{padding-left:180px}
#siteMap li li li li li li li li li li li li .indent{padding-left:198px}
#siteMap li *{vertical-align:middle;text-indent:0}
#siteMap li:hover,
#siteMap li:active,
#siteMap li:focus{background-color:var(--bs-gray-200)}
#siteMap li [name="collapse_key[]"]+span,
#siteMap li [name="new_win_key[]"]+span{display:inline-block;overflow:hidden;margin-left:2px;width:35px!important}
#siteMap li [name="desc_key[]"]{max-width:205px}
#siteMap li input[type=text]{display:inline;max-width:150px;margin:4px}
#siteMap .side::after{content:url("icon_move_to.gif");margin:5px;vertical-align:text-top}
#siteMap .side{padding-left:5px!important;padding-top:0!important;padding-bottom:0!important;line-height:30px;background:transparent!important}
#siteMap .side button{text-indent:0;line-height:1}
#siteMap .side input[type=image]{cursor:pointer}
#siteMap .sitemap-item{cursor:move}
#siteMap .draggable{background-color:transparent!important}
#siteMap .placeholder{background-color:var(--bs-gray-500)!important}
#siteMap [type=submit],
#siteMap [type=button]{width:24px;height:24px;border:0;background-color:transparent;color:transparent;background-image:url("icon_tool.png");background-repeat:no-repeat;background-position:0px 0px}
#siteMap [type=submit]{background-position:0px -72px}
#siteMap li [type=button]{background-position:0px -48px}
#siteMap li [type=button]+[type=button]{background-position:0px -24px}