.breadcrumb>li+li.pull-right:before {
	content: ""
}

.breadcrumb>li>select {
	padding: 1px;
	margin-top: -1px
}

#ledger-form {
	width: 50%;
	float: left;
	position: relative;
	padding-right: 10px
}

#ledger-item-form {
	width: 50%;
	float: right;
	position: relative;
	padding-left: 10px
}

#ledger-item-form #id-ev-items {
	width: 100%;
	height: 50px;
	padding: 2px;
	overflow-x: hidden;
	overflow-y: auto;
	list-style-type: none;
	border: 2px solid #ccc;
	border-radius: 3px
}

#ledger-item-form #id-ev-items li,
#ledger-item-form [role="button"] {
	width: 100%
}

#ledger-item-form #id-ev-items li {
	cursor: pointer;
	padding: 3px;
	border-radius: 4px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#ledger-item-form #id-ev-items li .right {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 2px
}

#ledger-item-form #id-ev-items li:hover {
	background-color: gray
}

#ledger-item-form #id-ev-items li div+div {
	text-align: right
}

#ledger_write_modal textarea {
	width: 100%;
	resize: none
}

#ledger_write_modal input[type=number],
#ledger_write_modal input.input-number,
#ledger_write_modal input.datepicker {
	width: 75%;
	text-align: right
}

#ledger_write_modal input.input-number,
#ledger_write_modal input.datepicker {
	padding-right:16px
}

#ledger_write_modal input[type=radio]+label,
#ledger_write_modal input[type=checkbox]+label {
	margin-right: 5px
}