@charset "utf-8";
#passwordBoxModal .modal-dialog {
	margin-top: -250px;
}

#board_list>header {
	margin-bottom: 20px;
}

#board_list thead>tr>th {
	padding-top: 0;
	font-size: 16px;
}

#board_list tbody>tr {
	cursor: pointer;
}

#board_list .search-form {
	padding: 0;
	max-width: 250px;
	min-width: 150px;
}

#board_list .pager li>span {
	color: #aaa;
	float: none;
}

#board_view>header,
#board_write>header,
#board_delete>header {
	margin-bottom: 20px;
	position: relative;
}

#board_view>header>h3,
#board_write>header>h3,
#board_delete>header>h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 3px;
	font-size: 18px;
	font-weight: bold;
}

#board_view>header>.divider,
#board_write>header>.divider,
#board_delete>header>.divider {
	margin: 5px 0;
}

#board_view>footer {
	margin: 20px 5px 5px;
}

#board_view>article>.current_content {
	min-height: 300px;
	padding: 0 5px;
	overflow-x: hidden;
}

#board_reply .reply-item .current_content {
	overflow-x: hidden;
}

#board_reply .reply-item {
	position: relative;
	margin-top: 5px;
	border-top: 1px solid #eee;
	padding: 20px 0 5px;
}

#board_view .profile-text>.left,
#board_reply .reply-item>.left {
	position: absolute;
	float: left;
	width: 184px;
	padding: 0 0 0 6px;
}

#board_reply .reply-item>.left h5 {
	margin-bottom: 0;
}

#board_view .profile-text>.right,
#board_reply .reply-item>.right {
	margin-left: 220px;
	padding: 0 6px 0 0;
	position: relative;
}

#board_reply .reply-item>.right>.content {
	min-height: 80px;
	padding-right: 5px;
}

#board_reply .reply-item>.right .area-group {
	margin: 0;
	padding: 0;
}

#board_reply .reply-item>.right .area-button,
#board_reply>.reply-editer .form-inline+.area-group,
#board_reply .reply-item>.right .form-inline+.area-group {
	margin-top: 5px;
}

#board_view .profile-text>.left .profile,
#board_reply .reply-item>.left .profile {
	float: left;
	margin: 0 6px 5px 0;
	border: 1px solid #ddd;
	border-radius: 100px;
	height: 50px;
	width: 50px;
}

#board_view .profile-text {
	margin: 30px 0 20px;
}

#board_view .profile-text>.left {
	width: 90px;
	padding-left: 0;
}

#board_view .profile-text>.right {
	min-height: 80px;
	max-height: 200px;
	overflow: hidden;
	padding: 5px 10px;
	margin-left: 100px;
	border: 1px solid #eee;
	border-radius: 5px;
}

#board_view .profile-text>.left .profile {
	height: 80px;
	width: 80px;
}

.af-editor-content>textarea {
	min-height: 300px;
}

.af-editor-content>textarea+iframe {
	border-color: #5cb85c;
	min-height: 300px;
	padding: 1px;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}

#board_reply>.reply-editer {
	border-top: 1px solid #eee;
	padding-top: 20px;
}

#board_reply>.reply-editer .area-group {
	position: relative;
	padding: 0;
}

#board_reply>.reply-editer .area-group .form-group {
	margin-right: 130px;
}

#board_reply>.reply-editer .area-button {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
}

#board_reply>.reply-editer .area-group button {
	width: 120px;
	height: 80px;
}

#board_reply .af-editor-content>textarea {
	min-height: 80px;
}

#board_reply .af-editor-content>textarea+iframe {
	min-height: 80px;
	margin-bottom: 10px;
}

#board_reply .reply-item form .close {
	margin-left: 10px;
}

#board_reply .reply-item form .form-group {
	margin-bottom: 0;
}

#board_write .area-button,
#board_delete .area-button {
	margin: 30px 0 10px;
}

#board_view .area-text-button .pull-right a,
#board_reply .area-text-button .pull-right a {
	margin-left: 10px;
}

#board_reply .inside_massage_box {
	background-color: #fff;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
	display: block;
	text-align: right;
}

#board_reply .inside_massage_box>div {
	position: absolute;
	bottom: 0;
	right: 0;
}

#board_reply .inside_massage_box>div>div {
	margin: 10px 0;
	font-weight: bold;
}

#board_write>header .close,
#board_delete>header .close {
	font-size: 30px;
	position: absolute;
	right: 0;
	top: -5px;
	height: 25px;
}

#board_view>article>.hashtags {
	margin-top: 20px;
}

#board_view>article>.wr_extra_vars {
	margin-bottom: 20px
}

#board_view>article>.wr_extra_vars>div {
	margin: 0 3px 3px;
	border-bottom: 1px solid #ddd;
}

#board_view>article>.wr_extra_vars>div>strong {
	width: 120px;
	display: inline-block;
	padding: 3px;
	border-right: 1px solid #ddd;
	margin-right: 3px;
}

#board_list .item_area {
	vertical-align: top;
	border-bottom: 1px solid #ddd;
	padding: 30px 8px;
}

#board_list .item_area:first-child {
	border-top: 1px solid #ddd;
}

#board_list .item_area>div {
	padding: 0;
	padding-left: 15px;
}

#board_list .item_area>div:first-child {
	padding-right: 15px;
	padding-left: 0;
}

#board_list .list_area {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 15px 0;
}

#board_list.album_style .item_area h3,
#board_list.review_style .item_area h3 {
	margin: 0;
	margin-bottom: 15px;
}

#board_list.album_style .author,
#board_list.review_style .author {
	margin-bottom: 10px;
}

#board_list.album_style .item_area>div {
	width: 50%;
	height: 300px;
	overflow: hidden;
}

#board_list.review_style .item_area>div {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0;
	margin-left: -330px;
	padding-left: 330px;
}

#board_list.review_style .item_area>div:first-child {
	width: 300px;
	margin: 0;
	padding: 0;
}

#board_list.album_style .item_area>.pull-left {
	border-right: 1px solid #eee;
}

#board_list.gallery_style .item_area h3 {
	color: #ffffff;
	opacity: 1;
	padding: 5px;
	margin: 0;
	font-size: 16px;
	width: 150px;
}

#board_list.gallery_style .item_area>div>.title-container {
	background-color: rgba(0, 0, 0, 0.7);
	bottom: 15px;
	font-size: 10px;
	left: 30px;
	opacity: 0;
	position: absolute;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	border-radius: 0 5px;
}

#board_list.gallery_style .item_area>div:first-child>.title-container {
	left: 15px;
}

#board_list.gallery_style .item_area>div:hover>.title-container {
	opacity: 1;
}

#board_list.gallery_style .img-container {
	height: 250px;
}

#board_list .wr_extra_area {
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 2px;
}

#board_list .img-container {
	width: 100%;
	height: 100%;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	margin: 0;
}

#board_list .img-container {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

#board_list .img-container:hover,
#board_list .img-container:focus {
	opacity: .5;
}

#board_list.album_style .mobile>div,
#board_list.review_style .mobile>div {
	width: 100% !important;
	height: inherit;
	padding: 0;
	border: 0 !important;
}

#board_list .mobile .img-container {
	margin-bottom: 20px;
	height: 200px;
}

#board_list.album_style .mobile h3,
#board_list.review_style .mobile h3 {
	font-size: 14px;
	margin: 0;
}

#board_list.gallery_style .mobile {
	width: 100% !important;
	padding: 0 !important;
}

#board_list.gallery_style .mobile .img-container {
	margin: 0;
}

#board_list.gallery_style .mobile:first-child {
	margin-bottom: 25px;
}

#board_list.gallery_style .mobile>div>.title-container {
	opacity: 0 !important;
}

@media(max-width:768px) {
	#board_reply>.reply-editer .area-group button {
		width: 100%;
		height: initial;
	}
	#board_reply>.reply-editer .area-button {
		position: static;
	}
	#board_reply>.reply-editer .area-group .form-group {
		margin-right: initial;
	}
	#board_view .profile-text>.left,
	#board_reply .reply-item>.left {
		position: static;
		float: none;
		width: initial;
	}
	#board_view .profile-text>.right,
	#board_reply .reply-item>.right {
		margin-left: 5px;
		margin-top: 10px;
	}
	#board_view .profile-text>.left .profile,
	#board_reply .reply-item>.left .profile {
		float: none;
	}
	#board_reply .reply-item>.left>.area-author-info {
		float: right;
	}
	#board_view>article>.current_content {
		min-height: 200px;
	}
}